<% if current_user == @user %>
  <h1>Editando Perfil</h1>
  <%= render "edit_own_form", user: @user %>
<% else %>
  <h1>Editar Usuario</h1>
  <%= render "edit_form", user: @user %>
<% end %>
<br>

<div>
  <% if can? :index, User %>
    <%= link_to "Volver al listado", users_path,class: "btn btn-dark" %>
  <% else %>
    <%= link_to "Volver al Inicio", root_path,class: "btn btn-dark" %>
  <% end %>
</div>
