<h1>Editar Horario</h1>

<%= render "edit_form", schedule: @schedule %>

<br>

<div>
  <%= link_to "Vista detallada", branch_schedule_url(@branch,@schedule),class: "btn btn-secondary" %> |
  <%= link_to "Volver al listado", branch_schedules_path,class: "btn btn-dark" %>
</div>
