<h1> Sobre nosotros </h1>
<h4 class="mt-5">
	 <%= @about_me %>
</h4>

<ul class="list-group w-100 mt-5">
    <li class="list-group-item align-items-center d-flex">
        <a class="btn text-white btn-floating m-1 me-3"
        style="background-color: hsl(330, 70%, 50%);" href="#!" role="button">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        Numero de contacto: +54 221 734 3423
    </li>
    <li class="list-group-item align-items-center d-flex">
        <a class="btn text-white btn-floating m-1 me-3"
        style="background-color: hsl(220, 44%, 41%);" href="#!" role="button">
            <i class="fab fa-facebook-f fa-2x"></i>
        </a>
        Email: RubyBank@gmail.com
    </li>
    <li class="list-group-item align-items-center d-flex">
        <a class="btn text-white btn-floating m-1 me-3"
        style="background-color: hsl(205, 81%, 63%);" href="#!" role="button">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        Sucursal principal: Reconquista 353
    </li>
</ul>