<div id="home">
  <div clas="d-flex flex-column justify-content-center">
  <H1 class="own_golden_title"> Bienvenidos al Banco de Ruby on Rails </H1>
  <img src="https://immigrantinvest.com/wp-content/uploads/2022/03/best-banks-2021-40543452.jpg" class="img img-fluid">
  </div>
</div>