<h1>Confirmando visita del Cliente</h1>

<%= render "edit_form", appointment: @appointment %>

<br>

<div>
  <%= link_to "Volver al listado de turnos", appointments_path, class:"btn btn-dark" %>
</div>
